:root{
    --color-EditSlider: #1F384C;
    --color-EditSlider-Border: #C8CBD9;
    --color-Edit-Title: #000000;
    --background-Edit-Title: #F6F6FB;
    --color-Placeholder-Title: #1F384C;
    --Edit-Background: #5A67BA;
    --background-Delete: #E04343;
    --color-Delete: #ffffff;
}
.EditSlider-Departament .heading-EditSlider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    width: 100%;
    border-bottom: 0.5px solid var(--color-EditSlider-Border);
}
.EditSlider-Departament .heading-EditSlider .col-image{
    display: flex;
    padding-left: 20px;
}
.EditSlider-Departament .heading-EditSlider .col-image img{
    cursor: pointer;
    margin-right: 15px;
}
.EditSlider-Departament .heading-EditSlider .col-image p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: var(--color-EditSlider);
}
@media (max-width: 550px) {
    .EditSlider-Departament .heading-EditSlider .col-image {
        align-items: center;
    }

    .EditSlider-Departament .heading-EditSlider .col-image img {
        margin-right: 10px;
        width: 17px;
    }

    .EditSlider-Departament .heading-EditSlider .col-image p {
        font-size: 13px;
    }

    .EditSlider-Departament .heading-EditSlider .col-image {
        padding-left: 10px;
    }
}
.EditSlider-Departament .col-product-Edit{
    margin-top: 60px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}
@media (max-width: 600px){
    .EditSlider-Departament .heading-EditSlider .col-image{
        padding-left: 5px;
    }
    .EditSlider-Departament .col-product-Edit{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.EditSlider-Departament .col-product-Edit .col-image-product{
    margin-right: 60px;
}
.EditSlider-Departament .col-product-Edit .col-image-product img{
    max-width: 420px;
    height: 270px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit{
    width: 100%;
    margin-top: 20px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-title{
    margin-bottom: 15px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-title p,
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-description p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--color-Edit-Title);
    text-transform: capitalize;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-title input,
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-description input{
    width: 100%;
    height: 48px;
    padding: 15px;
    border: none;
    outline: none;
    caret-color: var(--Edit-Background);
    background-color: var(--background-Edit-Title);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-description input{
    width: 100%;
    height: 99px;
    padding-top: 20px;
    padding-bottom: 85px;
}
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-title input::placeholder,
.EditSlider-Departament .col-product-Edit .content-product-Edit .col-description input::placeholder{
    padding-left: 5px;
}
.EditSlider-Departament .col-Delete-Edit{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.EditSlider-Departament .col-Delete-Edit .delete,
.EditSlider-Departament .col-Delete-Edit .Edit{
    position: relative;
    z-index: 1;
    width: 294px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    text-transform: capitalize;
    color: var(--color-Delete);
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.EditSlider-Departament .col-Delete-Edit .delete{
    background-color: var(--background-Delete);
    margin-right: 40px;
}
.EditSlider-Departament .col-Delete-Edit .Edit{
    background-color: var(--Edit-Background);
}
.EditSlider-Departament .col-Delete-Edit .delete::before,
.EditSlider-Departament .col-Delete-Edit .delete::after,
.EditSlider-Departament .col-Delete-Edit .Edit::before,
.EditSlider-Departament .col-Delete-Edit .Edit::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    background-color: #5A67BA;
    transition: width 0.7s ease;
    -webkit-transition: width 0.7s ease;
    -moz-transition: width 0.7s ease;
    -ms-transition: width 0.7s ease;
    -o-transition: width 0.7s ease;
}
.EditSlider-Departament .col-Delete-Edit .Edit::before,
.EditSlider-Departament .col-Delete-Edit .Edit::after{
    background-color: #E04343;
}
.EditSlider-Departament .col-Delete-Edit .delete::before,
.EditSlider-Departament .col-Delete-Edit .Edit::before{
    left: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.EditSlider-Departament .col-Delete-Edit .delete::after,
.EditSlider-Departament .col-Delete-Edit .Edit::after{
    right: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.EditSlider-Departament .col-Delete-Edit .delete:hover::before,
.EditSlider-Departament .col-Delete-Edit .delete:hover::after,
.EditSlider-Departament .col-Delete-Edit .Edit:hover::before,
.EditSlider-Departament .col-Delete-Edit .Edit:hover::after{
    width: 50%;
}
@media (max-width: 1200px) {
    .EditSlider-Departament .col-product-Edit .col-image-product img {
        width: 320px;
        /*margin-top: 40px;*/
    }
    .EditSlider-Departament .col-Delete-Edit .delete,
    .EditSlider-Departament .col-Delete-Edit .Edit{
         width: 220px;
    }
}

@media (max-width: 768px) {
    .EditSlider-Departament .col-product-Edit {
        flex-direction: column;
        margin-top: 20px;
    }
    .EditSlider-Departament .col-Delete-Edit {
        flex-direction: column;
    }
        .EditSlider-Departament .col-Delete-Edit .delete{
            margin-right: 0;
            margin-bottom: 20px;
        }
}

@media (max-width: 550px) {
    .EditSlider-Departament .col-product-Edit .col-image-product {
        margin: 0;
    }

    .EditSlider-Departament .col-product-Edit .col-image-product img {
        width: 100%;
    }
}
