.app{
   display: grid;
   grid-template-columns: 245px 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: "nav content";
   height: 100vh;
}
@media (max-width: 992px){
    .app{
        grid-template-columns: 60px 1fr;
    }
}
.app .navbar{
    grid-area: nav;
    height: 100%;
}
.app .content-app{
    grid-area: content;
    height: 100%;
}
